<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='../static/styles.css'>
		<title> Application </title>
	</head>
	<body>
		<h1>
			Working at Testr means doing what you love.
		</h1>
			<p>
				 We hire trailblazers, hackers and balloonicorns. We want people who can solve challenging problems, make great cookies, and build something big. You should join us. 
			 </p>
			 <p> 
				 Fill out our application below to begin the path to meaningful work at the most imaginary company in the world.	
			</p>
			<br><br>
		<form action='/response' method='post'>
			First Name: <input type='text' name='first'> <br><br>
			Last Name: <input id='last' type='text' name='last'> <br><br>
			Salary Requirements: <input type='text' name='salary'> <br><br>
			Desired Position: <select name='job'>
				<option value='Software Engineer'> Software Engineer </option>
				<option value='QA Engineer'> QA Engineer </option>
				<option value='Product Manager'> Product Manager </option>
			</select> <br><br>
			<input type='submit'>
		</form>
	</body>